  .board-row {
    display: flex;
  }
  
  .resultAlert{
    font-size: 3vh;
    color: rgb(255, 94, 0);
    text-align: center;
  }
  
  .reset {
    display: inline;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1vh;
    border-radius: 10px;
    width: 11.5vh;
    cursor: pointer;
    font-size: 1.8vh;
  }

  .alertContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reset:hover{
    background-color: rgb(247, 223, 195);
  }

  .alertTurn{
    color: rgb(255, 94, 0);
    align-self: center;
    font-size: 2vh;
  }