.square {
    width: 9vh;
    height: 9vh;
    background-color: #2132f4;
    border: 0.5vh solid #031f34;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    cursor: pointer;
    margin: 0px;
    font-family: 'Concert One' ,'Sans-Serif';
  }
  
  .square:hover {
    background-color: #3d4cf3;
  }